body {
  background-color: papayawhip;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

h1 {
  color: #16804b;
  text-align: center;
  font-size: 2em;
  font-family: monospace;
}

p {
  color: black;
  text-align: center;
  font-family: monospace;
}

.quote {
  padding: 10px;
}

.explanation {
  padding: 10px;
}

.introduction {
  padding: 10px;
}

footer {
  padding: 15px;
  text-align: center;
}

a {
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
  color: mediumseagreen;
  text-decoration: none;
}

a {
  background: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

